<!doctype  html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">

    <title>Listings</title>
</head>
<body style="font-family: 'Suez One', serif;">
<div class="container" style="margin: auto; padding-top: 4rem">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="text-center">Tailor Hustle</h1>
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>