{% extends "base2.html" %}
{% block title %} Tailor_Hustle — Error 500 {% endblock %}
{% load static %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h1>
                ERROR 500
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h2>
                Internal Server Error
            </h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <p>
                Mistakes are the portal of discovery... <br>
                but we'd rather you use our homepage.
            </p>
        </div>
    </div>
    {% comment %} <div class="row justify-content-center">
        <div class="col-3 text-center">
            <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Homepage</a>
        </div>
        <div class="col-1 text-center">
            OR
        </div>
        <div class="col-3 text-center">
            <a href="{% url 'attorney_list' %}" class="btn btn-primary btn-lg">Browse Attorneys</a>
        </div>
    </div> {% endcomment %}
{% endblock %}