<!DOCTYPE html>
<html lang="en">
<head>
    <title>Campaign</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="x-apple-disable-message-reformatting">

</head>

<body style="background-color: #FFFFFF; text-align: center;margin: 0;padding: 0; overflow-x:hidden">
<div style="margin: 0 auto; text-align: center;">
    <a href="">
        <img style="margin-top:32px;width: 151px;margin-bottom: 40px;display: block;margin-left: auto;margin-right: auto;padding: 0px;"
             src=""></a>
    <img style="display: block;width: 202px;height: 201px;margin: 39px auto 0;"
         src="">
    <div>
        <div style="text-align: center">
        </div>

        <h2 style="margin-top:40px;text-align: center;font: Bold 35px Georgia;letter-spacing: 2px;color: #1E2A40;opacity: 1;">
        {{ title }}</h2>

        <h3 style="margin-top:40px;text-align: center;font: Bold 35px Georgia;letter-spacing: 2px;color: #1E2A40;opacity: 1;">
        {{ description }}</h3>

        <div style="width: 100%;text-align: center;font-size: 0;margin-top: 16px;">
            <div style="display: inline-block;margin: 0 auto;font-size: 0;">
                <a href="">
                    <img style="width: 18px; display: inline-block;margin: 0 2px;font-size: auto;"
                         src="https://tailorie-common-static.s3.us-east-2.amazonaws.com/images/emails/welcome-email/facebook.png"></a>
                <a href="">
                    <img style="width: 18px;  display: inline-block;margin: 0 2px;font-size: auto;"
                         src="https://tailorie-common-static.s3.us-east-2.amazonaws.com/images/emails/welcome-email/instagram.png"></a>
                <a href="">
                    <img style="width: 18px;  display: inline-block;margin: 0 2px;font-size: auto;"
                         src="https://tailorie-common-static.s3.us-east-2.amazonaws.com/images/emails/welcome-email/twitter.png"></a>
            </div>
        </div>
        <h6
                style="text-align: center;font: Normal 8px/24px Arial;letter-spacing: 0;color: #979EA6;opacity: 1;margin-bottom: 0">
            @2021 Tailor Hustle. All right reserved.</h6>
    </div>
</div>
</body>

</html>
